button.sc-dlfnbm.fqDHKX{
    background-color: #ffb900;
    color: #030657;
}
button.sc-dlfnbm.euvPLA {
    background-color: #ffb900;
    color: #030657;
}
img.sc-iNqMTl.hFrbFX.desktop-icon {
    width: 30px;
    height: 60%;
}
.sc-iqHYGH.fxAMhU {
    background-color: transparent;
}
.sc-eJMQSu.drfFfz {
    color: #ffb900;
}
h2.sc-gsTCUz.sc-hHftDr.fizxSh.kDYGgd {
    color: #ffb900;
}
nav.sc-bTvRPi.hcmdSI {
    background-color: #030657;
}
.sc-dwfUOf.koUPqf {
    background-color: #070a6e;
}
.sc-fbkhIv.kGvIMC {
    background-color: #070a6e;
}
.sc-dkAroR.hruyQE {
    background-color: #565cff7d;
}
.sc-hOqqkJ.clxsyR {
    background-color: #070a6e;
}
.sc-dwfUOf.gHIOPr {
    background-color: #16161c;
}
.sc-gsTCUz.ktjdDu {
    color: #ffb900;
}
.sc-gsTCUz.hnqdLj {
    color: #ffb900;
}
button.sc-hYZPRl.dlsrco.open-currency-select-button {
    background-color: #7e82ff38;
}
button.sc-hYZPRl.dlsrco.open-currency-select-button:hover {
    background-color: #7e82ff;
}
button.sc-hYZPRl.kREqLP.open-currency-select-button {
    background-color: #7e82ff38;
}
button.sc-hYZPRl.kREqLP.open-currency-select-button:hover {
    background-color: #7e82ff;
}
button.sc-dlfnbm.iDneoe.sc-hKgILt.fwjcqd {
    background-color: #7e82ff;
}
.sc-cOajty.fFOlyK {
    background-color: rgb(4 6 87);
}
h2.sc-gsTCUz.sc-hHftDr.ksTlDw.kDYGgd {
    color: #ffb900;
}
.sc-gsTCUz.jRGlTM {
    color: #0f1494;
}
a.sc-gsTCUz.sc-bYEvPH.feUvkV.khGBIg.sc-TmcTc.cJbABh {
    color: transparent;
}
.sc-lcujXC.bnKPcn {
    background-color: #040657;
}
.sc-bAfeAT.hQqOmd {
    background-color: rgba(22, 21, 21, 0.534);
}
.sc-gsTCUz.fizxSh {
    color:#ffb900
}
button.sc-dlfnbm.iDneoe {
    background-color: #ffb900;
    color: #030657;
}
button.sc-dlfnbm.dlJQKG {
    background-color: #7e82ff;
    color: #ffb900;
}
svg.sc-bdfBwQ.ctOjJ {
    fill: #ffb900;
}
svg.sc-bdfBwQ.fVyWnr {
    fill: #ffb900;
    color: #ffb900;
}
svg.sc-bdfBwQ.hufIwr {
    color: #ffb900;
}
svg.sc-bdfBwQ.ddBDEq {
    fill: #ffb900;
}
svg.sc-bdfBwQ.hVsLTg {
    fill: #ffb900;
}
.sc-dQppl.cuITyL.sc-bGqQkm.jyZRYv {
    background-color: #040657;
}
svg.sc-bdfBwQ.hVsLTg {
    fill: #ffb900;
}
svg.sc-bdfBwQ.dXOLDY {
    fill: #ffb900;
}
svg.sc-bdfBwQ.exSDhd {
    fill: #ffb900;
}
.sc-gsTCUz.goUXoX {
    color: #ffb900;
}
svg.sc-bdfBwQ.bznkAm {
    fill: transparent;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82:hover:hover { 
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.huxpKT.token-item-ETHER:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x7083609fCE4d1d8Dc0C979AAb8c869Ea2C873402:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x2170Ed0880ac9A755fd29B2688956BD959F933F8:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x97f8CCa7b163E6ef1E9512EA0bA40F3B2F6E6E4d:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x55d398326f99059fF775485246999027B3197955:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-ETHER:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82 { 
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56 {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47 {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.huxpKT.token-item-ETHER:hover {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x7083609fCE4d1d8Dc0C979AAb8c869Ea2C873402 {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x2170Ed0880ac9A755fd29B2688956BD959F933F8 {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x97f8CCa7b163E6ef1E9512EA0bA40F3B2F6E6E4d {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x55d398326f99059fF775485246999027B3197955 {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c {
    background-color: #03065788;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-ETHER {
    background-color: #03065788;
}

input.sc-bBXqnf.fpHsFd {
    background-color: #7e82ff9d;
    color: #ffb900;
}
input.sc-bBXqnf.cIdFZB {
    background-color: #7e82ff9d;
    color:#ffb900;
}
.sc-gsTCUz.eWzRgv {
    color: #ffb900;
}
.sc-gsTCUz.loxGXE {
    color: #ffb900;
}
.sc-gkdzZj.dzXbXa {
    color: #ffb900;
}
.sc-gsTCUz.exvSjA {
    color: #ff1008;
}
.sc-gsTCUz.exvSjA {
    color: #ff1008;
}
button.sc-dlfnbm.hIUVeI {
    background-color: #ffb900;
    color: #070a6e;
}
.jRSiJD[data-reach-dialog-content] {
    width: 85vw;
    background-color: #03065788;
}
button.sc-dlfnbm.hTWAIs {
    color: #ffb900;
}
input.sc-bBXqnf.hTHEwH {
    background-color: #7e82ff;
    color: #ffb900;
}
input.sc-tkKAw.hLIkfq.token-amount-input {
    color: #ffb900;
}
svg.sc-kYrkKh.jvpWRE {
    color:#ffb900;
}
.sc-gsTCUz.fSkXwc {
    color: #ffb900;
}
.sc-hkwnrn.jOcitS {
    color: #ffb900;
}
svg.sc-bSFVuW.fubUcm {
    color: #ffb900;
}
input.sc-tkKAw.hLIkfq.token-amount-input {
    color: #ffb900;
}
svg.sc-bdfBwQ.bzolGY {
    color:#040657;
}
.sc-hkwnrn.jOcitS {
    color:#ffb900;
}
svg.sc-bSFVuW.fubUcm {
    color: #ffb900;
}
.sc-fbNXWD.sc-kUbhmq.kQEzLS.jEqguw {
    background-color: #0e0c40;
}
.sc-jGVbCA.sc-fXoxut.uGhuI.bDfsnZ {
    background-color: #0f1494;
}
.sc-gsTCUz.ksmPPf {
    color: #ffb900;
}
.sc-dQppl.cuITyL {
    background-color: #070a6e;
}
