button.sc-dlfnbm.fqDHKX{
    background-color: #ffb900;
    color: #030657;
}
button.sc-dlfnbm.euvPLA {
    background-color: #ffb900;
    color: #030657;
}
img.sc-iNqMTl.hFrbFX.desktop-icon {
    width: 60px;
    height: 100%;
}
.sc-iqHYGH.fxAMhU {
    background-color: transparent;
}
path {
    fill: #ffb900;
}
.sc-eJMQSu.drfFfz {
    color: #ffb900;
}
h2.sc-gsTCUz.sc-hHftDr.fizxSh.kDYGgd {
    color: #ffb900;
}
nav.sc-bTvRPi.hcmdSI {
    background-color: #030657;
}
.sc-dwfUOf.koUPqf {
    background-color: #070a6e;
}
.sc-fbkhIv.kGvIMC {
    background-color: #070a6e;
}

