button.sc-dlfnbm.fqDHKX{
    background-color: #ffb900;
    color: #450070;
}
button.sc-dlfnbm.euvPLA {
    background-color: #ffb900;
    color: #45007; 
}
img.sc-iNqMTl.hFrbFX.desktop-icon {
    width: 30px;
    height: 60%;

}
.sc-iqHYGH.fxAMhU {
    background-color: transparent;
}
.sc-eJMQSu.drfFfz {
    color: #ffb900;
}
h2.sc-gsTCUz.sc-hHftDr.fizxSh.kDYGgd {
    color: #ffb900;
}
nav.sc-bTvRPi.hcmdSI {
    background-color: #450070;
}
.sc-dwfUOf.koUPqf {
    background-color: #450070;
}
.sc-fbkhIv.kGvIMC {
    background-color: #450070;
}
.sc-dkAroR.hruyQE {
    background-color: #450070;
}
.sc-hOqqkJ.clxsyR {
    background-color: #450070;
}
.sc-dwfUOf.gHIOPr {
    background-color: #16161c;
}
.sc-gsTCUz.ktjdDu {
    color: #ffb900;
}
.sc-gsTCUz.hnqdLj {
    color: #ffb900;
}
button.sc-hYZPRl.dlsrco.open-currency-select-button {
    background-color: #7e82ff38;
}
button.sc-hYZPRl.dlsrco.open-currency-select-button:hover {
    background-color: #7e82ff;
}
button.sc-hYZPRl.kREqLP.open-currency-select-button {
    background-color: #7e82ff38;
}
button.sc-hYZPRl.kREqLP.open-currency-select-button:hover {
    background-color: #7e82ff;
}
button.sc-dlfnbm.iDneoe.sc-hKgILt.fwjcqd {
    background-color: #7e82ff;
}
.sc-cOajty.fFOlyK {
    background-color: #450070;
}
h2.sc-gsTCUz.sc-hHftDr.ksTlDw.kDYGgd {
    color: #ffb900;
}
.sc-gsTCUz.jRGlTM {
    color: #450070;
}
a.sc-gsTCUz.sc-bYEvPH.feUvkV.khGBIg.sc-TmcTc.cJbABh {
    color: transparent;
}
.sc-lcujXC.bnKPcn {
    background-color: #450070;
}
.sc-bAfeAT.hQqOmd {
    background-color: #ffb900;
}
.sc-gsTCUz.fizxSh {
    color:#ffb900
}
button.sc-dlfnbm.iDneoe {
    background-color: #ffb900;
    color: #450070;
}
button.sc-dlfnbm.dlJQKG {
    background-color: #7e82ff;
    color: #ffb900;
}
svg.sc-bdfBwQ.ctOjJ {
    fill: #ffb900;
}
svg.sc-bdfBwQ.fVyWnr {
    fill: #ffb900;
    color: #ffb900;
}
svg.sc-bdfBwQ.hufIwr {
    color: #ffb900;
}
svg.sc-bdfBwQ.ddBDEq {
    fill: #ffb900;
}
svg.sc-bdfBwQ.hVsLTg {
    fill: #ffb900;
}
.sc-dQppl.cuITyL.sc-bGqQkm.jyZRYv {
    background-color: #450070;
}
svg.sc-bdfBwQ.hVsLTg {
    fill: #ffb900;
}
svg.sc-bdfBwQ.dXOLDY {
    fill: #ffb900;
}
svg.sc-bdfBwQ.exSDhd {
    fill: #ffb900;
}
.sc-gsTCUz.goUXoX {
    color: #ffb900;
}
svg.sc-bdfBwQ.bznkAm {
    fill: transparent;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82:hover:hover { 
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.huxpKT.token-item-ETHER:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x7083609fCE4d1d8Dc0C979AAb8c869Ea2C873402:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x2170Ed0880ac9A755fd29B2688956BD959F933F8:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x97f8CCa7b163E6ef1E9512EA0bA40F3B2F6E6E4d:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x55d398326f99059fF775485246999027B3197955:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-ETHER:hover {
    background-color: #ffbb0069;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82 { 
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56 {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47 {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.huxpKT.token-item-ETHER:hover {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x7083609fCE4d1d8Dc0C979AAb8c869Ea2C873402 {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x2170Ed0880ac9A755fd29B2688956BD959F933F8 {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x97f8CCa7b163E6ef1E9512EA0bA40F3B2F6E6E4d {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0x55d398326f99059fF775485246999027B3197955 {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c {
    background-color: #45007088;
}
.sc-GTWni.sc-bXDlPE.sc-eGCarw.sc-dwcuIR.fgQJTQ.gGskBg.jqTxQZ.bcRrzt.token-item-ETHER {
    background-color: #45007088;
}

input.sc-bBXqnf.fpHsFd {
    background-color: #7e82ff9d;
    color: #ffb900;
}
input.sc-bBXqnf.cIdFZB {
    background-color: #7e82ff9d;
    color:#ffb900;
}
.sc-gsTCUz.eWzRgv {
    color: #ffb900;
}
.sc-gsTCUz.loxGXE {
    color: #ffb900;
}
.sc-gkdzZj.dzXbXa {
    color: #ffb900;
}
.sc-gsTCUz.exvSjA {
    color: #ff1008;
}
.sc-gsTCUz.exvSjA {
    color: #ff1008;
}
button.sc-dlfnbm.hIUVeI {
    background-color: #ffb900;
    color: #450070;
}
button.sc-dlfnbm.hTWAIs {
    color: #ffb900;
}
input.sc-bBXqnf.hTHEwH {
    background-color: #7e82ff;
    color: #ffb900;
}
input.sc-tkKAw.hLIkfq.token-amount-input {
    color: #ffb900;
}
svg.sc-kYrkKh.jvpWRE {
    color:#ffb900;
}
.sc-gsTCUz.fSkXwc {
    color: #ffb900;
}
.sc-hkwnrn.jOcitS {
    color: #ffb900;
}
svg.sc-bSFVuW.fubUcm {
    color: #ffb900;
}
input.sc-tkKAw.hLIkfq.token-amount-input {
    color: #ffb900;
}
svg.sc-bdfBwQ.bzolGY {
    color:#450070;
}
.sc-hkwnrn.jOcitS {
    color:#ffb900;
}
svg.sc-bSFVuW.fubUcm {
    color: #ffb900;
}
.sc-fbNXWD.sc-kUbhmq.kQEzLS.jEqguw {
    background-color: #450070;
}
.sc-jGVbCA.sc-fXoxut.uGhuI.bDfsnZ {
    background-color: #450070;
}
.sc-gsTCUz.ksmPPf {
    color: #ffb900;
}
.sc-dQppl.cuITyL {
    background-color: #450070;
}
button.sc-dlfnbm.lgnshh.pancake-button--disabled {
    background-color: #450070;
    color: #ffb900;
}
.sc-gsTCUz.ffWrR {
    color: #ffb900;

}
.sc-gsTCUz.sc-jHVexB.kaXBOy.fBXACb {
    color: #ffb900;
}
a.sc-gsTCUz.sc-bYEvPH.kKguzK.khGBIg {
    color: #ffb900;

}
svg.sc-bdfBwQ.ffMLJH {
    fill: #ffb900;

}
button.sc-dlfnbm.dKoNpH {
    color: #ffb900;
    border-color: #ffb900;
}
.sc-gsTCUz.chVHpP {
    color: #ffb900;
}
.sc-nFpLZ.dXLCFm {
    color: #ffbb0093;
}
.sc-nFpLZ.hicRJc {
    color: #ffbb0093;
    background-color: #010226;
}
.sc-nFpLZ.kQxDPq:hover {
    background-color: #3333899c;
}
.sc-nFpLZ.kNZQIA:hover {
    background-color: #3333899c;
}
.sc-nFpLZ.dXLCFm:hover {
    background-color: #3333899c;
}
.sc-nFpLZ.hicRJc:hover {
    background-color: #3333899c;
}
.sc-nFpLZ.kQxDPq:hover {
    background-color: #3333899c;
}

.sc-nFpLZ.hicRJc:hover {
    background-color: #3333899c;
}
.sc-iBPRYJ.jibsak {
    background-color: #450070;
}
svg.sc-bdfBwQ.dXOLDY,svg.sc-bdfBwQ.hVsLTg {
    fill: transparent;
}
.lmabOq .mobile-icon {
    width: 100px;
    height: 100%;
}
.sc-bkzZxe.fnLZML {
    background-color: transparent;
}
a.sc-gsTCUz.sc-bYEvPH.kKBolP.khGBIg {
    color: transparent;
}
.sc-nFpLZ.dXLCFm {
    background-color: #010226;
}
img.sc-jeGSBP.iRgiNB.mobile-icon {
    width: 50px;
    height: 100%;
}
.sc-eFubAy.iizEdg {
    background-color: #450070;
}
.sc-gsTCUz.qGpov {
    color: #ffb900;
}
.sc-fbNXWD.sc-fmlJLJ.sc-jmhFOf.kQEABQ.eyMhHH.kdXbmY {
    background-color: #450070;
}
.sc-gsTCUz.imUPQW {
    color: #ffb900;
}
button#confirm-swap-or-send {
    background-color: #ffb900;
    color: #450070;
}
div#swap-page {
    background-color: #450070;
}
a#swap-nav-link {
    background-color: #450070;
    color: #ffb900;
    block-size: 40px;
}

body {
    background-color: #ffb900;
}
a#pool-nav-link {
    background-color: #450070;
    color: #ffb900;
    block-size: 40px;
}

